.profile-header {
	display: flex;
	flex-direction: row;
}

.profile-header img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: auto;
	padding: 0px 50px;
}

.cat-pics {
	max-width: 300px;
	height: auto;
}

.popup {
	display: flex;
	flex-direction: row;

	max-width: 50%;
	height: auto;

	position: absolute;
	top: 30%;
	left: 10%;
	padding: 50px;
}

.popup img {
	max-width: 500px;
}

.comments-container {
	background-color: white;
	flex-direction: column;
	padding: 50px;
}

.followers-modal {
	background-color: white;
	padding: 50px;
	position: absolute;
	top: 30%;
	left: 40%;
	box-shadow: 2px 2px 2px #aaaaaa;
}

.followers-heading span {
	margin-left: 50px;
	border: 1px solid black;
	border-radius: 50%;
}
